<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.hibernate.orm" level="ERROR"/>
    <logger name="org.hibernate.engine" level="ERROR"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>


    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>